<h2><%=link_to l(:label_issue_status_transition_rules), {:action=>:index} %> &#187; <%=h @issue_status_transition_rule.name %> </h2>



<%= form_for(:issue_status_transition_rule, :url=>{:action => 'update'}, :html=>{:method=>:put}) do |f| %>

<%= error_messages_for 'issue_status_transition_rule' %>

<%= render :partial=>'form', :locals => {:f => f} %>

<%= submit_tag l(:button_save) %>

<% end %>
